<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Xls_Trans_Tool_Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Xls_Trans_Tool_Wpf.Properties.Settings>
            <setting name="Remark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShippingInstruction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PriorityOrderType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Manufacturer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Material" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opt1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opt2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opt3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opt4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opt5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </Xls_Trans_Tool_Wpf.Properties.Settings>
    </userSettings>
</configuration>
